@model Photo[]
@{
    ViewData["Title"] = "Home Page";
    var Photos = Model;

}
<h1 class="text-center">Le mie foto</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Visible</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var photo in Photos)
        {
            <tr>
                <td>@photo.Id</td>
                <td><img src="@photo.ImageUrl" /></td>
                <td>@photo.Title</td>
                <td>@photo.Description</td>
                <td>@photo.Visible</td>
                <td>
                    @foreach (var category in photo.Categories!)
                    {
                        <text>@category.Name</text>
                    }
                </td>
                <td>
                    <button class="bg-primary"><a href="@Url.Action("Detail", "Photo", new{id = photo.Id})">Detail</a></button>
                    <button class="bg-secondary"><a href="@Url.Action("Update", "Photo", new{id = photo.Id})">Edit</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Create", "Photo")">Crea una nuova foto</a>