@model Photo[]
@{
    ViewData["Title"] = "Home Page";
    var Photos = Model;

}
<h1 class="text-center">Le mie foto</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Visible</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var photo in Photos)
        {
            <tr>
                <td>@photo.Id</td>
                <td><img src="@photo.ImageUrl" /></td>
                <td>@photo.Title</td>
                <td>@photo.Description</td>
                <td>@photo.Visible</td>
                <td>@photo.Categories</td>
            </tr>
        }
    </tbody>
</table>